@import "../../../../utils/utils";

.navigation__item {
  list-style: none;
  padding: 0.2rem;
  transition: background 0.3s;
  text-transform: uppercase;
  transform: skew(-20deg);

  a {
    display: block;
    text-decoration: none;
    color: $primary-color;
    transition: all 0.3s ease-out;
    padding: 0.88rem;
    transform: skew(20deg);
    font-size: 0.9rem;

    &.is__active,
    &:hover,
    &:active {
      background: $primary-color;
      color: #ffff;
    }
  }
}

// media queries

@media (min-width: 500px) {
  .navigation__item {
    margin: 0;
    display: flex;
    height: 100%;
    width: auto;
    align-items: center;
  }
}
