@import "../../../utils/utils";

.navigation__items {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  list-style: none;
  padding: 0.5rem;
  height: 100%;

  a {
    display: block;
    text-decoration: none;
    color: $primary-color;
    transition: all 0.3s ease-out;
    padding: 1rem;
    margin-right: 10px;
    text-transform: uppercase;
    transform: skew(-20deg);

    &.is__active {
      background: $primary-color;
      color: #ffff;
    }

    &:hover {
      background: $primary-color;
      color: #ffff;
    }
  }
}

// media queries
@media (min-width: 960px) {
  .navigation__items {
    flex-direction: row;
  }
}
