@import "../../../../utils/utils";

.sidedrawer {
  position: fixed;
  width: 280px;
  max-width: 70%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;
  background-color: white;
  padding: 2rem 1rem;
  box-sizing: border-box;
  transition: transform 0.3s ease-out;
  display: flex;
  flex-direction: column;
  transition: transform 0.3s ease-out;
}

.open {
  transform: translateX(0);
}

.close {
  transform: translateX(-100%);
}

@media (min-width: 960px) {
  .sidedrawer {
    display: none;
  }
}
