@import "../../utils/utils";

.header {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: $primary-color;

  &__inner {
    display: flex;
    align-items: center;
    justify-content: space-around;
  }

  &__logo {
    width: 60px;
  }

  &__nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.5rem;

    ul {
      padding: 0;
      display: flex;
      list-style: none;
    }

    li {
      list-style: none;
      padding: 0.2rem;
      transition: background 0.3s;
      text-transform: uppercase;
      transform: skew(-20deg);

      > a {
        display: block;
        text-decoration: none;
        color: $primary-color;
        transition: all 0.3s ease-out;
        padding: 1rem;

        &.is__active {
          background: $primary-color;
          color: #ffff;
        }

        &:hover {
          background: $primary-color;
          color: #ffff;
        }
      }
    }
  }
}

.highlight {
  margin-top: 110px;
  text-align: center;
  width: 200px;
  h1 {
    font-size: 2.7rem;
    color: $primary-color;
  }

  &__text > p {
    color: $secondary-color;
  }
}

nav ul li a {
  transform: skew(20deg);
}
