// colors
$primary-color: #0055a1;
$secondary-color: grey;
$tertiary-color: #9bcaf0;
$bg-color: lighten($primary-color, 60.5%);
$btn-color: #0055a1;
$text-color: #fff;
$text-color-primary: grey;
$navbar-active: $primary-color;
$accordion-text: #5a94b6;
$font-size: 3.25rem;
$font-size-md: 1.89rem;
$font-size-sm: 1.4rem;

// @extends
%display {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

// button
.btn {
  font-weight: 500;
  padding: 1rem;
  margin: 0.6rem;
  outline: none;
  border: none;
  background: $btn-color;
  color: #fff;
  font-weight: 500;
  cursor: pointer;
  font-size: 1.1rem;
  transform: skew(-20deg);

  span {
    transform: skewX(20deg);
    font-family: "Sen", sans-serif;
  }
}

// page container
.container {
  margin: 0;
  padding: 0;
  font-family: "Sen", sans-serif;
  max-width: 1200px;
  width: 100%;
  margin: 1px auto;
  overflow: hidden;
}

@media (min-width: 801px) {
  .container {
    width: 90%;
  }
}

@media (max-width: 950px) {
  .container {
    width: 90%;
  }
}
