@import "../../utils/utils";

.testimonials {
  box-sizing: border-box;
  &__header h1 {
    color: $primary-color;
    font-size: $font-size;
    text-align: right;
  }

  &__header h4 {
    font-size: $font-size-sm;
    color: $text-color-primary;
  }

  &__info {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    text-align: center;

    & span:first-child {
      color: $tertiary-color;
      margin-left: -14px;
    }
  }

  &__inner {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-right: 12px;
  }

  &__inner--text {
    width: 50%;
    color: $text-color-primary;
    font-weight: bolder;

    p {
      margin-top: -190px;
    }
  }

  &__inner--media {
    position: relative;
  }

  &__inner--media img {
    width: 100%;
    max-width: 600px;
    object-fit: contain;
    // display: flex;

    // // first img
    // &:nth-child(1) {
    // }

    // // second img
    // &:nth-child(3) {
    //   right: 70;
    // }

    // // last img
    // &:nth-child(2) {
    // }
  }
}

blockquote {
  position: relative;
  display: block;
  padding: 0.3rem;
}

blockquote::before {
  content: "\201c";
  font-size: 20rem;
  color: $tertiary-color;
  font-family: sans-serif;
}

blockquote p {
  margin-top: -50px;
}

// media queries

@media (max-width: 800px) {
  .testimonials__inner {
    flex-direction: column-reverse;

    &--text {
      width: 100%;
    }
  }
}
