@import url("https://fonts.googleapis.com/css2?family=Sen:wght@700&display=swap");

html {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  margin: 0;
  font-family: "Sen", sans-serif;
  width: 100%;
}
